.content_5_wrapper {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
}

.content_5_grid:nth-child(1) {
  display: flex;
  align-items: center;
}

.content_5_grid:nth-child(1) h1 {
  color: var(--primarycolor);
  font-family: var(--primaryfont);
}

.content_5_grid:nth-child(1) span {
  color: var(--secondarycolor);
}

.content_5_grid:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 130px;
  grid-gap: 50px;
  align-content: center;
}

.education {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

.school_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.school_img img {
  height: 125px;
  width: 125px;
  object-fit: cover;
  border-radius: 20px;
  aspect-ratio: 1/1;
}
.education_desc {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  padding-inline: 20px;
}

.course {
  color: var(--primarycolor);
  font-family: var(--secondaryfont);
}
.course label {
  font-size: 14px;
  color: rgb(163, 162, 162);
}

.school {
  display: flex;
  justify-content: center;
  line-height: 20px;
  flex-direction: column;
  font-family: var(--secondaryfont);
}

.school_yr {
  color: grey;
  font-size: 15px;
}
.school_name {
  font-size: 15px;
  color: rgb(163, 162, 162);
}

@media screen and (max-width: 901px) {
  .content_5_wrapper {
    height: 70%;
    width: 90%;
  }
}

@media screen and (min-width: 723px) and (max-width: 1200px) {
  .school_img {
    align-items: start;
  }
  .school_img img {
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 499px) {
  .school_img {
    align-items: start;
  }
  .school_img img {
    height: 80px;
    width: 80px;
    border-radius: 20px;
  }
}
